services:
  go_db:
    container_name: go_db
    image: postgres:12
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: boni.leonardor@outlook.com
      PGADMIN_DEFAULT_PASSWORD: 123@mudar
    ports:
      - "5050:80"
    depends_on:
      - go_db

volumes:
  pgdata:
